@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure Deploy Test</h1>
    <p class="lead">Dev of Azure Deployment Options for users.</p>
    <p><a href="http://azure.microsoft.com/blog/2014/11/13/deploy-to-azure-button-for-azure-websites-2/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Deploy VM with Antimalware</h2>
        <p>
            The button below will deploy a VM with Antimalware Extension.
        </p>
        <p><a href="https://azuredeploy.net/?repository=https://github.com/villanub/antimalware" target="_blank">
    <img src="http://azuredeploy.net/deploybutton.png" />
</a></p>
    </div>
    <div class="col-md-4">
        <h2>Deploy DC in HA</h2>
        <p>The button below will deploy 2 domain controllers in an HA configuraion</p>
        <p><a href="https://azuredeploy.net/?repository=https://github.com/villanub/Azure-DC-HA" target="_blank">
    <img src="http://azuredeploy.net/deploybutton.png" />
</a></p>
    </div>
    <div class="col-md-4">
        <h2>Template in Azure</h2>
        <p>The button below will launch preview portal and initialize the template file</p>
        <p><a href="https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2Fvillanub%2Fantimalware%2Fmaster%2Fazuredeploy.json" target="_blank">
    <img src="http://azuredeploy.net/deploybutton.png" />
</a>
</p>
    </div>
</div>