<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://azuredeploydev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>azuredeploydev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AzureDeployDev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AzureDeployDev</UserName>
    <_SavePWD>True</_SavePWD>
    <ADUsesOwinOrOpenIdConnect>True</ADUsesOwinOrOpenIdConnect>
    <ADDomain>RackspaceAzureDev001.onmicrosoft.com</ADDomain>
    <EnableADPublish>true</EnableADPublish>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False" xmlns="">
          <Destination Path="Data Source=tcp:qq6489zp28.database.windows.net,1433;Initial Catalog=AzureDeployDev_db;User ID=ben@qq6489zp28;Password=Sandra778" Name="Data Source=tcp:qq6489zp28.database.windows.net,1433;Initial Catalog=AzureDeployDev_db;User Id=ben@qq6489zp28;Password=Sandra778;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AzureDeployDev.Models.ApplicationDbContext, AzureDeployDev" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://RackspaceAzureDev001.onmicrosoft.com/WebApp-azuredeploydev.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>af15ec6d-869b-4b27-ac55-951a27433414</ADClientAPPID>
    <ADClientPassword>1c01c170-1168-48c1-85cb-0e812ea901c5</ADClientPassword>
    <ADReplyUrl>https://azuredeploydev.azurewebsites.net/</ADReplyUrl>
    <ADIssuer>https://login.windows.net/RackspaceAzureDev001.onmicrosoft.com/wsfed</ADIssuer>
    <ADTenantId>200af68a-d0e0-4c9c-acba-ee8d1737d217</ADTenantId>
    <ADPostLogoutRedirectUri>https://azuredeploydev.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:qq6489zp28.database.windows.net,1433;Initial Catalog=AzureDeployDev_db;User Id=ben@qq6489zp28;Password=Sandra778;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>